/* Styles Accordions List */
.js [data-anime="accordion"] dd {
  display: none;
}
[data-anime="accordion"] dt::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../../assets/imgs/arrow-red.svg) no-repeat center center;
  margin-left: 10px;
  transform: rotate(90deg);
  transition: transform 0.6s;
}
[data-anime="accordion"] dt.active::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../../assets/imgs/arrow-red.svg) no-repeat center center;
  margin-left: 10px;
  transform: rotate(-90deg);
}
[data-anime="accordion"] dd.active {
  display: block;
  animation: slideDow 0.5s forwards;
}
@keyframes slideDow {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 300px;
  }
}

@media (max-width: 700px) {
  @keyframes slideDow {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      max-height: 580px;
    }
  }
}
