.tooltip {
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px var(--cor-3), 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  color: var(--cor-white);
  font-family: var(--font-1);
  font-weight: 700;
  font-size: 0.875rem;
  max-width: 280px;
  border-radius: 2px;
}
