.list-faq {
  grid-column: 2/4;
}
.list-faq dt {
  font-family: var(--font-1);
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--cor-4);
  cursor: pointer;
}
.list-faq dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: var(--cor-3);
}
.list-faq dd {
  font-family: var(--font-2);
  margin-bottom: 0.5rem;
  margin-left: 30px;
}
